* {
	box-sizing: border-box;
}
body {
	font-size: clamp(30px, max(7vh, 5vw), 70px);
	margin: 0;
	height: 100vh;
	width: 100vw;
}
.game-main {
	height: 100vh;
	width: 100vw;
	padding: 3rem 5rem;
	display: flex;
}
.game-carousel {
	flex-grow: 1;
	max-height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.game-card {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	img {
		transform: rotate(180deg);
		width: 100%;
		max-height: 100%;
	}
}

.game-card:nth-child(1) {
	.game-control {
		align-items: flex-start;
	}
}

.game-card:nth-child(2) {
	.game-control {
		top: 65%;
	}
	img {
		width: 90%;
	}
}

.game-card:nth-child(3) {
	.game-control {
		align-items: flex-end;
	}
}

.game-control {
    display: flex;
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
	color: red;
}

button {
	font-size: 35px;
	width: clamp(200px, 100%);
}

@media (max-width: 768px) {
	.game-main {
		padding: 3rem 0;
		overflow-x: scroll;
		scroll-snap-type: x mandatory;
	}
	.game-carousel {
		width: 300%;
		grid-template-columns: repeat(3, 100%);
	}
	.game-card {
		scroll-snap-align: center;
	}
}